# Site settings
title: Johns Hopkins Algorithms and Complexity
description: >-
  The Algorithms and Complexity group at Johns Hopkins University
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://theory.cs.jhu.edu" # the base hostname & protocol for your site

# Build settings
markdown: kramdown

# Plugins
plugins:
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - vendor/

# Collections
collections:
  people:
    output: false

# Defaults
defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "default"
